:root {
    --spotify-primary: #1db954;
    
    --ui-background: #000000;
    --ui-foreground: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML */
html {
    height: 100vh;
}

/* BODY */
body {
    height: 100%;
    background-color: var(--ui-background);
    font-family: 'Montserrat', sans-serif;
}
