/* ==== IMPORTS ==== */

/* Bootstrap */
@import "bootstrap/scss/bootstrap";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* Styles */
@import "./general";

/* BODY STYLES */
body {
    .curtain {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(51,51,51,1) 100%);
        transition: 1s;
        gap: 40px;

        svg {
            width: 460px;
            height: 460px;
            margin: 0 auto;
            display: block;

            path {
                -webkit-transition: stroke-dashoffset 2s ease-in-out; 
                transition: stroke-dashoffset 2s ease-in-out;
            }

        }

        .title-animated {
            font-size: 48px;
            color: white;
            font-weight: bold;

            .title-parts {
                position: relative;
                display: inline-block;
                margin: 0 -9px;
                bottom: -20px;
                opacity: 0;
            }

            .title-parts.active {
                bottom: 0;
                opacity: 1;
                transition: ease-in-out .5s;
            }
        }
    }

    #mouse {
        position: fixed;
        top: 50vh;
        left: 50vw;
        z-index: 1;
        display: none;

        i {
            color: white;
            font-size: 40px;
        }

        .circle {
            border-radius: 50%;
            border: 1px solid white;
            background: none;
            width: 0;
            height: 0;
            display: none;

            position: absolute;
            left: 12px;

            &.active {
                display: block;
                animation: expandCircle 0.4s linear;
            }
        }

        &.active {
            display: block;
            animation: moveMouse 1s linear infinite;
        }

        &.paused {
            animation-play-state: paused;
        }
    }

    @keyframes moveMouse {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-500%, -500%);
        }
    }

    @keyframes expandCircle {
        0% {
            width: 0;
            height: 0;

            top: 0px;
            left: 12px;
        }
        100% {
            width: 50px;
            height: 50px;

            top: -20px;
            left: -12px;
        }
    }

    .main_container {
        z-index: 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        /* title bar */
        .title {
            height: 80px;

            .col {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(51,51,51,1) 100%);

                #logo {
                    height: 70px;
                }
            }
        }

        /* graphs container */
        .graphs_container {
            flex: 1; 
            display: flex;
            flex-direction: column;
            gap: 10px;

            .graph_row {
                display: flex;
                flex-direction: row;
                gap: 10px;
                //max-height: 50%;
                flex: 1;

                .graph {
                    height: 100%;
                    border-radius: 10px;
                    background-color: var(--ui-foreground);
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;  
                    justify-content: center;

                    /* Hover effect */
                    cursor: pointer;
                    transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
                    &:hover {
                        transform: translateY(-10px); /* Move it up a bit */
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add shadow for floating effect */
                        filter: brightness(1.4);
                    }

                    .graph_title {
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                    }

                    .chart {
                        max-height: 85%;
                    }
                }
            }
        }

        /* footer bar */
        .footer {
            margin-top: 20px;
            height: 40px;

            .col {
                text-align: center;
                p {
                    color: gray;
                    font-size: 14px;
                    a {
                        text-decoration: none;
                        padding: 0 5px;
                        i {
                            font-size: 18px;
                        }
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    #link-parcel {
                        color: orange;
                    }
                    #link-repo {
                        color: white;
                    }
                }
            }
        }
    }
}
