@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --spotify-primary: #1db954;
    --spotify-secondary: #121212;

    --spotify-primary-dark: #116e32;
    --spotify-secondary-light: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFAULT COLORS */
.btn {
    background-color: var(--spotify-primary);
    color: var(--spotify-secondary);
}

.btn:hover {
    background-color: var(--spotify-primary-dark);
    color: white;
}

/* HTML */
html {
    height: 100vh;
}

/* BODY STYLES */
body {
    height: 100%;
    background-color: var(--spotify-secondary);
    font-family: 'Montserrat', sans-serif;

    .main_container {
        display: flex;
        flex-direction: column;
        height: 100%;

        /* title bar */
        .title {
            height: 80px;

            .col {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                background: linear-gradient(0deg, rgba(18,18,18,1) 20%, rgba(51,51,51,1) 100%);
                // background-color: red;

                #logo {
                    height: 70px;
                }
            }
        }

        /* graphs container */
        .graphs_container {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .graph_row {
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;

                .graph {
                    height: 100%;
                    border-radius: 10px;
                    background-color: #242424;
                }
            }
        }

        /* footer bar */
        .footer {
            margin-top: 20px;
            height: 40px;

            .col {
                text-align: center;
                p {
                    color: gray;
                    font-size: 14px;
                    a {
                        text-decoration: none;
                        padding: 0 5px;
                        i {
                            font-size: 18px;
                        }
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    #link-parcel {
                        color: orange;
                    }
                    #link-repo {
                        color: white;
                    }
                }
            }
        }
    }
}
